@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --link--gb: 11, 106, 127;
}

a {
  color: rgb(var(--link--gb));
}

body {
  color: rgb(var(--foreground-rgb));
}
